/* line 3, /socialcast/app/assets/stylesheets/apipie.css.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  word-wrap: break-word;
}

/* line 13, /socialcast/app/assets/stylesheets/apipie.css.sass */
ol, ul {
  list-style: none;
}

/* line 16, /socialcast/app/assets/stylesheets/apipie.css.sass */
blockquote, q {
  quotes: none;
}

/* line 19, /socialcast/app/assets/stylesheets/apipie.css.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 23, /socialcast/app/assets/stylesheets/apipie.css.sass */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* line 28, /socialcast/app/assets/stylesheets/apipie.css.sass */
body {
  width: 100%;
  top: 0;
  font-size: 13px;
  background-color: whitesmoke;
  color: #666666;
  font-family: Helvetica, sans-serif;
}

/* line 35, /socialcast/app/assets/stylesheets/apipie.css.sass */
a, p, h1, h2, tr {
  font-weight: 100;
}

/* line 37, /socialcast/app/assets/stylesheets/apipie.css.sass */
a {
  color: #0080bf;
  text-decoration: none;
}

/* line 40, /socialcast/app/assets/stylesheets/apipie.css.sass */
h1 {
  font-size: 3.69em;
  color: #0080bf;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* line 46, /socialcast/app/assets/stylesheets/apipie.css.sass */
h1.detail {
  font-size: 1.69em;
}

/* line 48, /socialcast/app/assets/stylesheets/apipie.css.sass */
h2 {
  font-size: 1.38em;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  font-style: normal;
  margin: 60px 0 30px;
}
/* line 53, /socialcast/app/assets/stylesheets/apipie.css.sass */
h2 a {
  color: #0080bf;
  text-decoration: none;
}

/* line 56, /socialcast/app/assets/stylesheets/apipie.css.sass */
h3 {
  font-size: 1.2em;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 30px 0 30px;
}

/* line 62, /socialcast/app/assets/stylesheets/apipie.css.sass */
hr {
  color: #e2e2e1;
}

/* line 64, /socialcast/app/assets/stylesheets/apipie.css.sass */
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

/* line 68, /socialcast/app/assets/stylesheets/apipie.css.sass */
.clear {
  clear: both;
}

/* line 70, /socialcast/app/assets/stylesheets/apipie.css.sass */
.header {
  height: 110px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 2px 1px #c4c4c4;
  -moz-box-shadow: 0px 4px 2px 1px #c4c4c4;
  box-shadow: 0px 4px 2px 1px #c4c4c4;
  border-bottom: 1px solid #9a9a9a;
  background-color: #f8f8f8;
}
/* line 78, /socialcast/app/assets/stylesheets/apipie.css.sass */
.header .utility_bar {
  background-color: #999999;
  height: 30px;
}
/* line 81, /socialcast/app/assets/stylesheets/apipie.css.sass */
.header .logo {
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 212px;
  height: 41px;
  display: block;
  margin-top: 22px;
  float: left;
}
/* line 90, /socialcast/app/assets/stylesheets/apipie.css.sass */
.header .links {
  text-align: right;
  line-height: 30px;
  color: white;
}
/* line 94, /socialcast/app/assets/stylesheets/apipie.css.sass */
.header .links a {
  color: white;
}

/* line 96, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search {
  float: right;
  width: 320px;
  margin-top: 22px;
}
/* line 100, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search .wrapper {
  padding: 0;
}
/* line 102, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search span.form_element_wrapper {
  position: absolute;
  width: 320px;
}
/* line 105, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search span.form_element_wrapper label {
  display: none;
}
/* line 107, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search span.form_element_wrapper input {
  height: 36px;
  font-size: 1.15em;
  width: 320px;
  padding: 0 60px 0 10px;
  border: 1px solid #dddddc;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: padding-box;
  -webkit-appearance: textfield;
}
/* line 117, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search span.form_element_wrapper input::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 119, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search span.form_element_wrapper input::-webkit-search-cancel-button {
  display: none;
}
/* line 121, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search span.form_element_wrapper input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
/* line 125, /socialcast/app/assets/stylesheets/apipie.css.sass */
form.search button.search_btn {
  height: 36px;
  width: 36px;
  float: right;
  position: relative;
  background-image: url(/assets/api/search_btn.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}

/* line 135, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content {
  position: relative;
  z-index: 1;
}
/* line 138, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .breadcrumbs {
  margin-bottom: 30px;
  font-size: 0.92em;
  margin-left: 0;
  list-style: none;
}
/* line 143, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .breadcrumbs li {
  display: inline-block;
}
/* line 145, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .nav {
  float: left;
  width: 200px;
  margin-top: 30px;
  font-size: 1.08em;
}
/* line 150, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .nav li {
  padding: 10px;
}
/* line 152, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .nav li ul {
  margin-bottom: 20px;
  margin-top: 10px;
}
/* line 155, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .nav a.active {
  color: #666666;
}
/* line 157, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .row {
  width: 700px;
  float: right;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 30px 30px 60px;
  margin-bottom: -30px;
}
/* line 165, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .row p {
  line-height: 1.5;
  margin-top: 10px;
}
/* line 168, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .row .article {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
}
/* line 171, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .row ul {
  list-style: disc;
  margin-left: 50px;
}
/* line 174, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content tr {
  text-align: left;
  font-size: 1.08em;
  border-bottom: 1px solid #e2e2e1;
}
/* line 178, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content th {
  font-size: 0.93em;
  line-height: 30px;
  padding-right: 10px;
}
/* line 182, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content td {
  padding: 10px 20px 10px 0;
  width: 300px;
}
/* line 187, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .response_field tr th {
  min-width: 90px;
}
/* line 189, /socialcast/app/assets/stylesheets/apipie.css.sass */
.content .well, .content .prettyprint {
  padding: 15px;
  background-color: whitesmoke;
  border: 1px solid #e2e2e1;
  border-radius: 5px;
  margin: 15px 0;
  word-wrap: break-word;
}

/* line 196, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer {
  position: relative;
  background-color: #ededed;
  z-index: 99;
  padding: 30px 0 90px;
  border-top: solid 1px #c8c8c8;
}
/* line 202, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer ul {
  padding-bottom: 25px;
  margin-bottom: 25px;
  width: 33%;
  float: left;
  height: 130px;
  border-bottom: solid 1px #c8c8c8;
}
/* line 209, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer li {
  line-height: 1.7;
}
/* line 211, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer li a {
  color: #666666;
  font-weight: bold;
}
/* line 214, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer .footer_links {
  margin-top: 30px;
}
/* line 216, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer .social_links {
  width: 300px;
  float: left;
}
/* line 219, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer .social_links a {
  width: 52px;
  height: 50px;
  display: block;
}
/* line 223, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer .social_links .youtube, .footer .social_links .twitter, .footer .social_links .facebook, .footer .social_links .linkedin {
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}
/* line 229, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer .tos {
  float: right;
  margin: 14px 20px 0 0;
  font-size: 0.85em;
}
/* line 233, /socialcast/app/assets/stylesheets/apipie.css.sass */
.footer .truste_badge {
  width: 142px;
  height: 45px;
  display: inline-block;
  float: right;
}
